/* global: overrides bootstrap font with a Google Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

* {
  font-family: 'PT Sans Narrow', sans-serif;
}

main {
  min-height: 65vh;
}

/* 404, footer */
.resized-logo {
  height: 100%;
  width: 280px;
}

/* header */
.social-list-margin {
  margin-right: 2em;
}
.social-link-style {
  display: inline-block;
  width: 104px;
}
.social-img-style {
  height: 45px;
  filter: invert(100%);
}

.col-mob {
  padding-right: auto;
  padding-left: auto;
}

/* movieDetails */
.heading-line {
  line-height: 0.8em;
}
.overview-img-background {
  background-repeat: no-repeat;
  background-size: cover;
}
.poster-width {
  width: 100%;
}
.company-logo-margin {
  margin-right: 1em;
}

/* searchForm */
.result-list-width {
  width: 330px;
}
.overlay-style {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* trendingMovie */
.badge-position {
  left: 20px;
  top: 20px;
}
.right-badge {
  right: 0;
}
.loading-anim-size {
  width: 5rem;
  height: 5rem;
}
.img-zoom-container {
  border-radius: 70px;
  overflow: hidden;
}
.img-zoom img {
  display: block;
  position: relative;
  transition: all 1s ease-out;
}
.img-zoom:hover img {
  transform: scale(1.03);
}
@media (hover: none) {
  .img-zoom:hover img {
    transform: none;
  }
}

/* Misc. */
.lang-position {
  position: absolute;
  z-index: 10000;
  right: 2%;
  top: 17px;
}

/* Movie Night */
.poll-votes {
  font-size: 2rem;
  background-color: var(--warning);
  padding: 0.5rem;
}

.smaller {
  font-size: 0.8rem;
}

.vote-button {
  cursor: pointer;
  filter: grayscale(1);
  opacity: 78%;
  top: 1rem;
  right: 2rem;
  padding: 1rem;
  padding-left: 1.4rem;
  padding-top: 0.8rem;
  font-size: 2rem;
  background-color: var(--green);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  transition: 0.3s;
}

.vote-button:hover,
.add-to-poll-active:hover {
  filter: grayscale(0);
  opacity: 100%;
}

.vote-button:active,
.add-to-poll-active:active {
  background-color: var(--red);
  transform: scale(0.8, 0.8);
}

.add-to-poll-active {
  cursor: pointer;
  filter: grayscale(1);
  opacity: 78%;
  top: 1rem;
  right: 2rem;
  padding: 1rem;
  padding-left: 1.15rem;
  padding-top: 1rem;
  font-size: 2rem;
  background-color: var(--green);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  transition: 0.3s;
}

.add-to-poll-inactive {
  cursor: pointer;
  filter: grayscale(1);
  opacity: 78%;
  top: 1rem;
  right: 2rem;
  padding: 1rem;
  padding-left: 1.15rem;
  padding-top: 1rem;
  font-size: 2rem;
  background-color: var(--green);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  transition: 0.3s;
}

.poll-form > ul > li {
  padding: 0.2rem;
}
